html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.open-close-nav {
  border: none;
  background-color: transparent;
}

.company-logo {
  justify-self: left;
  margin-left: 12px;
}

.hidden-text {
  height: 1px;
  width: 1px;
  position: absolute;
  color: transparent;
}

.desktop-nav {
  display: none;
}

.shopping-cart {
  margin-left: auto;
}

.avatar {
  height: 30px;
  width: 30px;
  margin: 0 12px;
}

.item-description-container {
  padding: 32px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-selector {
  justify-content: space-evenly;
}

.plus-minus {
  width: 90%;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
