html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border: none;
  border-radius: 10px;
}

.mobile-nav {
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.75);
  transition: 0.7s;
  overflow-x: hidden;
}

.mobile-links-container {
  width: 65%;
  height: 100%;
  background-color: hsl(223, 64%, 98%);
  padding: 8%;
  transition: 0.4s;
}

.mobile-links-container a {
  margin-top: 15%;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 0;
  display: block;
  transition: 0.5s;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.open-close-nav {
  background-color: transparent;
}

.company-logo {
  justify-self: left;
  margin-left: 12px;
}

.hidden-text {
  height: 1px;
  width: 1px;
  position: absolute;
  color: transparent;
}

.desktop-nav {
  display: none;
}

.shopping-cart {
  margin-left: auto;
  background-color: transparent;
}

.avatar {
  height: 30px;
  width: 30px;
  margin: 0 12px;
}

.mobile-image-carousel {
  position: relative;
  margin: auto;
}

.my-slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 8px 16px;
  color: hsl(0, 0%, 0%);
  background-color: hsl(223, 64%, 98%);
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 55%;
  user-select: none;
}

.prev {
  margin-left: 16px;
}

.next {
  right: 0;
  margin-right: 16px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.item-description-container {
  padding: 32px;
  display: grid;
}

h1 {
  color: hsl(219, 9%, 45%);
  font-size: 1rem;
  text-transform: uppercase;
}

h2 {
  text-wrap: unset;
}

.product-description {
  color: hsl(219, 9%, 45%);
  text-wrap: unset;
  font-size: 0.9rem;
  line-height: 1.8rem;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10% 0;
}

.prices p {
  margin-top: 0;
}

.sale-price {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 16px;
}

.sale-percent {
  background-color: hsl(0, 0%, 0%);
  color: hsl(223, 64%, 98%);
  padding: 4px 12px;
  border-radius: 10px;
  margin-right: auto;
}

.retail-price {
  text-decoration: line-through;
  align-self: center;
  color: hsl(219, 9%, 45%);
}

.quantity-selector {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(223, 64%, 98%);
  margin: 10% auto;
}

.quantity {
  line-height: 0.75rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.plus-minus {
  width: max-content;
  padding: 1rem;
  background-color: transparent;
}

.plus-minus:nth-of-type(2) {
  text-align: right;
}

.add-to-cart,
.checkout {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 0%);
}

.button-cart-icon {
  margin-right: 5%;
  filter: brightness(0%);
}

.shopping-cart-modal {
  position: fixed;
  z-index: 3;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  width: 95%;
  margin: 2% auto;
  left: 2.5%;
}

.shopping-cart-modal h2 {
  margin-left: 32px;
  margin-top: 0;
  padding: 1.5rem 0;
  font-size: 1rem;
}

.image-and-prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 5%;
  border-top: 1px solid hsl(223, 64%, 98%);
}

.cart-thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.price-and-name-display p {
  margin: 0;
  color: hsl(219, 9%, 45%);
}

.price-and-name-display p span {
  color: hsl(0, 0%, 0%);
  font-weight: bold;
}

.delete {
  background-color: transparent;
}

.checkout {
  width: 90%;
  margin: 5%;
}

#itemsInCart {
  display: none;
}

#emptyCartMessage {
  text-align: center;
}

#emptyCartMessage p {
  margin: 5rem auto;
  color: hsl(219, 9%, 45%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  .prev:hover,
  .next:hover {
    background-color: hsla(0, 0%, 0%, 0.8);
  }
}
