html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  border-radius: 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.open-close-nav {
  background-color: transparent;
}

.company-logo {
  justify-self: left;
  margin-left: 12px;
}

.hidden-text {
  height: 1px;
  width: 1px;
  position: absolute;
  color: transparent;
}

.desktop-nav {
  display: none;
}

.shopping-cart {
  margin-left: auto;
}

.avatar {
  height: 30px;
  width: 30px;
  margin: 0 12px;
}

.item-description-container {
  padding: 32px;
}

.prices {
  display: flex;
  flex-direction: row;
}

.quantity-selector {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(223, 64%, 98%);
  margin: 1rem auto;
}

.quantity {
  line-height: 0.75rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.plus-minus {
  width: max-content;
  padding: 1rem;
  background-color: transparent;
}

.plus-minus:nth-of-type(2) {
  text-align: right;
}

.add-to-cart {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 0%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
